.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  height: 80px;

  border-bottom: 1px solid #ffffffa4;

  background-color: rgba(0, 0, 0, 0.555);
}
