.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  width: 40px;
  height: 40px;
  object-fit: cover;

  /* border-radius: 50%; */
}

.text {
  margin: 0 10px;
}

.button {
  padding: 5px 15px;
  margin-left: 10px;

  font-size: 15px;
  border: 1px solid grey;
  border-radius: 15px;

  cursor: pointer;

  transition: box-shadow 250ms linear;
}

.button:hover,
.button:focus {
  background-color: #2196f3;
}
