.container {
  width: 380px;
  padding: 10px;
  margin: 20px auto;
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 20%);
}

.item {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 5px;
}

.text {
  display: inline-block;
  width: 120px;
  font-size: 15px;
}

.text:first-child {
  font-weight: 500;
}

.text:nth-child(2) {
  text-decoration: underline;
}

.button {
  width: 110px;
  margin-top: 10px;
  padding: 5px;
  margin-left: 2%;

  font-size: 15px;

  border: 1px solid grey;
  border-radius: 15px;

  cursor: pointer;

  transition: box-shadow 250ms linear;
}

.button:hover,
.button:focus {
  background-color: #2196f3;
}
